#### Import Data

In [1]:
#Imports
import pandas as pd
import numpy as np

In [2]:
# import basics dataset and convert to cvs
basics = pd.read_csv("Data/title.basics_real.tsv.gz", sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# import akas dataset and convert to cvs
akas = pd.read_csv('Data/title.akas_real.csv', low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [4]:
# import rating dataset and convert to cvs
rating = pd.read_csv("Data/title.ratings_real.tsv.gz", sep='\t', low_memory=False)
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1869
3  tt0000004            5.5       177
4  tt0000005            6.2      2655

### Replace /N with NaN

In [5]:
#Replace "\N" with np.nan
akas = akas.replace({'\\N':np.nan})
#Verify the change
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [12]:
akas.info()

#Check to make sure the US is the only value in region
akas['region'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452564 non-null  object
 3   region           1452564 non-null  object
 4   language         4018 non-null     object
 5   types            981678 non-null   object
 6   attributes       47016 non-null    object
 7   isOriginalTitle  1451222 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

US    1452564
Name: region, dtype: int64

In [7]:
#Replace "\N" with np.nan
basics = basics.replace({'\\N':np.nan})
#Verify the change
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [8]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10130849 entries, 0 to 10130848
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 695.6+ MB

In [9]:
#Replace "\N" with np.nan
rating = rating.replace({'\\N':np.nan})
#Verify the change
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1869
3  tt0000004            5.5       177
4  tt0000005            6.2      2655

In [14]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344601 entries, 0 to 1344600
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1344601 non-null  object
 1   averageRating  1344601 non-null  float64
 2   numVotes       1344601 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.8+ MB

### Basics

- Keep only US movies

- Eliminate movies that are null for runtimeMinutes

- Eliminate movies that are null for genre

- Keep only titleType==Movie

- Convert the startYear column to float data type.

- Filter the dataframe using startYear. Keep years between 2000-2021 (Including 2000 and 2021)

- Eliminate movies that include "Documentary" in the genre

In [36]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers
#implament filter
basics = basics[keepers]
#verify changes
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365230 entries, 0 to 10130804
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1365230 non-null  object
 1   titleType       1365230 non-null  object
 2   primaryTitle    1365230 non-null  object
 3   originalTitle   1365230 non-null  object
 4   isAdult         1365230 non-null  object
 5   startYear       1267582 non-null  object
 6   endYear         37431 non-null    object
 7   runtimeMinutes  863538 non-null   object
 8   genres          1336825 non-null  object
dtypes: object(9)
memory usage: 104.2+ MB

In [13]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [37]:
# only include full lenght movies 
basics = basics.loc[basics['titleType']== "movie"]
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299323 entries, 8 to 10130739
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          299323 non-null  object
 1   titleType       299323 non-null  object
 2   primaryTitle    299323 non-null  object
 3   originalTitle   299323 non-null  object
 4   isAdult         299323 non-null  object
 5   startYear       240569 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  207726 non-null  object
 8   genres          288681 non-null  object
dtypes: object(9)
memory usage: 22.8+ MB

In [38]:
# drop movies with NA in runtime minutes or genres
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203837 entries, 8 to 10130615
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          203837 non-null  object
 1   titleType       203837 non-null  object
 2   primaryTitle    203837 non-null  object
 3   originalTitle   203837 non-null  object
 4   isAdult         203837 non-null  object
 5   startYear       200311 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  203837 non-null  object
 8   genres          203837 non-null  object
dtypes: object(9)
memory usage: 15.6+ MB

In [39]:
# coerce all to numeric to be able to filter out the years by numbers
basics['startYear']= pd.to_numeric(basics['startYear'], errors= 'coerce')

#Filter the dataframe using startYear. 
#Keep years between 2000-2021 (Including 2000 and 2021)
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]
#Verify the change with .info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114425 entries, 34800 to 10130615
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          114425 non-null  object
 1   titleType       114425 non-null  object
 2   primaryTitle    114425 non-null  object
 3   originalTitle   114425 non-null  object
 4   isAdult         114425 non-null  object
 5   startYear       114425 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  114425 non-null  object
 8   genres          114425 non-null  object
dtypes: float64(1), object(8)
memory usage: 8.7+ MB

In [40]:
# Exclude movies that are included in the documentary category.

is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]
basics.info()

#Eliminate movies that include "Documentary" in the genre
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]
#Verify the changes with .info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81882 entries, 34800 to 10130615
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81882 non-null  object
 1   titleType       81882 non-null  object
 2   primaryTitle    81882 non-null  object
 3   originalTitle   81882 non-null  object
 4   isAdult         81882 non-null  object
 5   startYear       81882 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  81882 non-null  object
 8   genres          81882 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.2+ MB

### Rating
Keep only movies that were included in your final title basics dataframe above

In [41]:
#Keep only movies that were included in your final title basics dataframe
keepers = rating['tconst'].isin(basics['tconst'])
keepers

0          False
1          False
2          False
3          False
4          False
           ...
1344596    False
1344597    False
1344598    False
1344599    False
1344600    False
Name: tconst, Length: 1344601, dtype: bool

In [42]:
#Filter basics
rating = rating[keepers]
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68057 entries, 17895 to 1344572
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         68057 non-null  object
 1   averageRating  68057 non-null  float64
 2   numVotes       68057 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.1+ MB

### Save data in new file

In [43]:
#Save basics as csv.gz file
basics.to_csv("Data/title_basics_final.csv.gz",compression='gzip',index=False)

In [44]:
#Open saved file and preview again
basics = pd.read_csv("Data/title_basics_final.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [45]:
#Save rating to a compressed file
rating.to_csv("Data/title_ratings_final.csv.gz",compression='gzip',index=False)

In [46]:
#Open saved file
basics = pd.read_csv("Data/title_ratings_final.csv.gz", low_memory = False)
basics.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     87452
1  tt0062336            6.4       179
2  tt0068865            5.4        74
3  tt0069049            6.7      7811
4  tt0088751            5.2       339

In [47]:
#Save akas as csv.gz file
akas.to_csv("Data/title_akas_final.csv.gz",compression='gzip',index=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0