#### Import Data

In [1]:
#Imports
import pandas as pd
import numpy as np

In [3]:
# import basics dataset and convert to cvs
basics_url= "https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10118048 entries, 0 to 10118047
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 694.8+ MB

In [5]:
# import akas dataset and convert to cvs
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37035964 entries, 0 to 37035963
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [6]:
# import rating dataset and convert to cvs
rating_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
rating = pd.read_csv(rating_url, sep='\t', low_memory=False)
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1343371 entries, 0 to 1343370
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1343371 non-null  object
 1   averageRating  1343371 non-null  float64
 2   numVotes       1343371 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.7+ MB

### Basics

Keep only US movies

Replace "\N" with np.nan

Eliminate movies that are null for runtimeMinutes

Eliminate movies that are null for genre

Keep only titleType==Movie

Convert the startYear column to float data type.

Filter the dataframe using startYear. Keep years between 2000-2021 (Including 2000 and 2021)

Eliminate movies that include "Documentary" in the genre

In [7]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers
#implament filter
basics = basics[keepers]
#verify changes
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7247760 entries, 0 to 10118046
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 553.0+ MB

In [8]:
#Replace "\N" with np.nan
basics = basics.replace({'\\N':np.nan})
#Verify the change
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7247760 entries, 0 to 10118046
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 553.0+ MB

In [9]:
# only include full lenght movies 
basics = basics.loc[basics['titleType']== "movie"]
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 644388 entries, 8 to 10117998
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          644388 non-null  object
 1   titleType       644388 non-null  object
 2   primaryTitle    644388 non-null  object
 3   originalTitle   644388 non-null  object
 4   isAdult         644388 non-null  object
 5   startYear       556806 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  410594 non-null  object
 8   genres          576516 non-null  object
dtypes: object(9)
memory usage: 49.2+ MB

In [10]:
# drop movies with NA in runtime minutes or genres
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 386644 entries, 8 to 10117998
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          386644 non-null  object
 1   titleType       386644 non-null  object
 2   primaryTitle    386644 non-null  object
 3   originalTitle   386644 non-null  object
 4   isAdult         386644 non-null  object
 5   startYear       380159 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  386644 non-null  object
 8   genres          386644 non-null  object
dtypes: object(9)
memory usage: 29.5+ MB

In [11]:
# coerce all to numeric to be able to filter out the years by numbers
basics['startYear']= pd.to_numeric(basics['startYear'], errors= 'coerce')

#Filter the dataframe using startYear. 
#Keep years between 2000-2021 (Including 2000 and 2021)
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]
#Verify the change with .info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210398 entries, 13081 to 10117998
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          210398 non-null  object
 1   titleType       210398 non-null  object
 2   primaryTitle    210398 non-null  object
 3   originalTitle   210398 non-null  object
 4   isAdult         210398 non-null  object
 5   startYear       210398 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  210398 non-null  object
 8   genres          210398 non-null  object
dtypes: float64(1), object(8)
memory usage: 16.1+ MB

In [12]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]

### Rating
Keep only movies that were included in your final title basics dataframe above

Replace "\N" with np.nan (if any)

In [14]:
#Keep only movies that were included in your final title basics dataframe
keepers = rating['tconst'].isin(basics['tconst'])
keepers

0          False
1          False
2          False
3          False
4          False
           ...
1343366     True
1343367    False
1343368    False
1343369    False
1343370    False
Name: tconst, Length: 1343371, dtype: bool

In [16]:
#Filter basics
rating = rating[keepers]
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104706 entries, 17888 to 1343366
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         104706 non-null  object
 1   averageRating  104706 non-null  float64
 2   numVotes       104706 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

/var/folders/n6/m7hlgmqs36l_cdkqm0vdj6qh0000gn/T/ipykernel_36977/1990846051.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rating = rating[keepers]

In [17]:
#Replace "\N" with np.nan (if any)
rating = rating.replace({'\\N':np.nan})
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104706 entries, 17888 to 1343366
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         104706 non-null  object
 1   averageRating  104706 non-null  float64
 2   numVotes       104706 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

### Save data in new file

In [18]:
#Save basics as csv.gz file
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [19]:
#Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror