## EDA of movie data

In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
#Load in data from 2000
df_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df_2000.head()

   Unnamed: 0  imdb_id
0           0        0

In [ ]:
#Load in data from 2001
df_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
df_2001.head()

In [3]:
#Concatenate into one dataframe
df = pd.concat((df_2000, df_2001))
df.info()

NameError: name 'df_2001' is not defined