#### Import Data

In [7]:
#Imports
import pandas as pd
import numpy as np

In [9]:
# import basics dataset and convert to cvs
basics = pd.read_csv("Data/title.basics_real.tsv.gz", sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [16]:
# import akas dataset and convert to cvs
akas = pd.read_csv("Data/title.akas_real.tsv.gz", sep='\t', low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [15]:
# import rating dataset and convert to cvs
rating = pd.read_csv("Data/title.ratings_real.tsv.gz", sep='\t', low_memory=False)
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1869
3  tt0000004            5.5       177
4  tt0000005            6.2      2655

### Basics

Keep only US movies

Replace "\N" with np.nan

Eliminate movies that are null for runtimeMinutes

Eliminate movies that are null for genre

Keep only titleType==Movie

Convert the startYear column to float data type.

Filter the dataframe using startYear. Keep years between 2000-2021 (Including 2000 and 2021)

Eliminate movies that include "Documentary" in the genre

In [17]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers
#implament filter
basics = basics[keepers]
#verify changes
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7257382 entries, 0 to 10130847
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 553.7+ MB

In [18]:
#Replace "\N" with np.nan
basics = basics.replace({'\\N':np.nan})
#Verify the change
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7257382 entries, 0 to 10130847
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 553.7+ MB

In [19]:
# only include full lenght movies 
basics = basics.loc[basics['titleType']== "movie"]
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 644728 entries, 8 to 10130799
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          644728 non-null  object
 1   titleType       644728 non-null  object
 2   primaryTitle    644728 non-null  object
 3   originalTitle   644728 non-null  object
 4   isAdult         644728 non-null  object
 5   startYear       557094 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  410808 non-null  object
 8   genres          576809 non-null  object
dtypes: object(9)
memory usage: 49.2+ MB

In [20]:
# drop movies with NA in runtime minutes or genres
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 386851 entries, 8 to 10130799
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          386851 non-null  object
 1   titleType       386851 non-null  object
 2   primaryTitle    386851 non-null  object
 3   originalTitle   386851 non-null  object
 4   isAdult         386851 non-null  object
 5   startYear       380352 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  386851 non-null  object
 8   genres          386851 non-null  object
dtypes: object(9)
memory usage: 29.5+ MB

In [21]:
# coerce all to numeric to be able to filter out the years by numbers
basics['startYear']= pd.to_numeric(basics['startYear'], errors= 'coerce')

#Filter the dataframe using startYear. 
#Keep years between 2000-2021 (Including 2000 and 2021)
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]
#Verify the change with .info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210412 entries, 13081 to 10130799
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          210412 non-null  object
 1   titleType       210412 non-null  object
 2   primaryTitle    210412 non-null  object
 3   originalTitle   210412 non-null  object
 4   isAdult         210412 non-null  object
 5   startYear       210412 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  210412 non-null  object
 8   genres          210412 non-null  object
dtypes: float64(1), object(8)
memory usage: 16.1+ MB

In [22]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]

### Rating
Keep only movies that were included in your final title basics dataframe above

Replace "\N" with np.nan (if any)

In [23]:
#Keep only movies that were included in your final title basics dataframe
keepers = rating['tconst'].isin(basics['tconst'])
keepers

0          False
1          False
2          False
3          False
4          False
           ...
1344596     True
1344597    False
1344598    False
1344599    False
1344600    False
Name: tconst, Length: 1344601, dtype: bool

In [24]:
#Filter basics
rating = rating[keepers]
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104725 entries, 17895 to 1344596
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         104725 non-null  object
 1   averageRating  104725 non-null  float64
 2   numVotes       104725 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

In [25]:
#Replace "\N" with np.nan (if any)
rating = rating.replace({'\\N':np.nan})
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104725 entries, 17895 to 1344596
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         104725 non-null  object
 1   averageRating  104725 non-null  float64
 2   numVotes       104725 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

### Save data in new file

In [30]:
#Save basics as csv.gz file
basics.to_csv("Data/title_basics_final.csv.gz",compression='gzip',index=False)

In [31]:
#Open saved file and preview again
basics = pd.read_csv("Data/title_basics_final.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror

In [33]:
#Save rating to a compressed file
rating.to_csv("Data/title_ratings_final.csv.gz",compression='gzip',index=False)

In [34]:
#Open saved file
basics = pd.read_csv("Data/title_ratings_final.csv.gz", low_memory = False)
basics.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     87452
1  tt0062336            6.4       179
2  tt0068865            5.4        74
3  tt0069049            6.7      7811
4  tt0082328            5.9      1747

In [36]:
#Save akas as csv.gz file
akas.to_csv("Data/title.akas_real.csv.gz",compression='gzip',index=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0