#### Import Data

In [72]:
#Imports
import pandas as pd
import numpy as np

In [90]:
# import basics dataset and convert to cvs
basics = pd.read_csv("Data/title.basics_real.tsv.gz", sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [91]:
# import akas dataset and convert to cvs
akas = pd.read_csv("Data/title.akas_real.tsv.gz", sep='\t', low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [75]:
# import rating dataset and convert to cvs
rating = pd.read_csv("Data/title.ratings_real.tsv.gz", sep='\t', low_memory=False)
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1869
3  tt0000004            5.5       177
4  tt0000005            6.2      2655

### Replace /N with NaN

In [92]:
#Replace "\N" with np.nan
akas = akas.replace({'\\N':np.nan})
#Verify the change
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37066998 entries, 0 to 37066997
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [77]:
#Replace "\N" with np.nan
basics = basics.replace({'\\N':np.nan})
#Verify the change
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10130849 entries, 0 to 10130848
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 695.6+ MB

In [78]:
#Replace "\N" with np.nan
rating = rating.replace({'\\N':np.nan})
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344601 entries, 0 to 1344600
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1344601 non-null  object
 1   averageRating  1344601 non-null  float64
 2   numVotes       1344601 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.8+ MB

### Basics

Keep only US movies

Eliminate movies that are null for runtimeMinutes

Eliminate movies that are null for genre

Keep only titleType==Movie

Convert the startYear column to float data type.

Filter the dataframe using startYear. Keep years between 2000-2021 (Including 2000 and 2021)

Eliminate movies that include "Documentary" in the genre

In [79]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers
#implament filter
basics = basics[keepers]
#verify changes
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7257382 entries, 0 to 10130847
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 553.7+ MB

In [80]:
# only include full lenght movies 
basics = basics.loc[basics['titleType']== "movie"]
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 644728 entries, 8 to 10130799
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          644728 non-null  object
 1   titleType       644728 non-null  object
 2   primaryTitle    644728 non-null  object
 3   originalTitle   644728 non-null  object
 4   isAdult         644728 non-null  object
 5   startYear       557094 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  410808 non-null  object
 8   genres          576809 non-null  object
dtypes: object(9)
memory usage: 49.2+ MB

In [81]:
# drop movies with NA in runtime minutes or genres
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 386851 entries, 8 to 10130799
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          386851 non-null  object
 1   titleType       386851 non-null  object
 2   primaryTitle    386851 non-null  object
 3   originalTitle   386851 non-null  object
 4   isAdult         386851 non-null  object
 5   startYear       380352 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  386851 non-null  object
 8   genres          386851 non-null  object
dtypes: object(9)
memory usage: 29.5+ MB

In [51]:
# coerce all to numeric to be able to filter out the years by numbers
basics['startYear']= pd.to_numeric(basics['startYear'], errors= 'coerce')

#Filter the dataframe using startYear. 
#Keep years between 2000-2021 (Including 2000 and 2021)
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]
#Verify the change with .info
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210412 entries, 13081 to 10130799
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          210412 non-null  object
 1   titleType       210412 non-null  object
 2   primaryTitle    210412 non-null  object
 3   originalTitle   210412 non-null  object
 4   isAdult         210412 non-null  object
 5   startYear       210412 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  210412 non-null  object
 8   genres          210412 non-null  object
dtypes: float64(1), object(8)
memory usage: 16.1+ MB

In [82]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]

### Rating
Keep only movies that were included in your final title basics dataframe above

In [83]:
#Keep only movies that were included in your final title basics dataframe
keepers = rating['tconst'].isin(basics['tconst'])
keepers

0          False
1          False
2          False
3          False
4          False
           ...
1344596     True
1344597    False
1344598    False
1344599    False
1344600    False
Name: tconst, Length: 1344601, dtype: bool

In [84]:
#Filter basics
rating = rating[keepers]
#Verify the change
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218339 entries, 8 to 1344596
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         218339 non-null  object
 1   averageRating  218339 non-null  float64
 2   numVotes       218339 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.7+ MB

### Save data in new file

In [86]:
#Save basics as csv.gz file
basics.to_csv("Data/title_basics_final.csv.gz",compression='gzip',index=False)

In [87]:
#Open saved file and preview again
basics = pd.read_csv("Data/title_basics_final.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
3,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"
4,tt0000941,movie,Locura de amor,Locura de amor,0,1909.0,NaN,45,Drama

In [88]:
#Save rating to a compressed file
rating.to_csv("Data/title_ratings_final.csv.gz",compression='gzip',index=False)

In [89]:
#Open saved file
basics = pd.read_csv("Data/title_ratings_final.csv.gz", low_memory = False)
basics.head()

      tconst  averageRating  numVotes
0  tt0000009            5.3       206
1  tt0000574            6.0       845
2  tt0000591            4.4        20
3  tt0000679            5.1        68
4  tt0000941            4.5        27

In [62]:
#Save akas as csv.gz file
akas.to_csv("Data/title_akas_final.csv.gz",compression='gzip',index=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0