In [85]:
#import libraries
import pandas as pd
import numpy as np

In [86]:
# import basics dataset and convert to cvs
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100795 entries, 0 to 10100794
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 693.6+ MB

In [87]:
# import akas dataset
akas_url = "/Users/kass/Downloads/title-akas-us-only.csv"
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36951101 entries, 0 to 36951100
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [88]:
# import rating dataset and convert to cvs
rating_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
rating = pd.read_csv(rating_url, sep='\t', low_memory=False)
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340671 entries, 0 to 1340670
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1340671 non-null  object
 1   averageRating  1340671 non-null  float64
 2   numVotes       1340671 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.7+ MB

In [89]:
#change all \\N to np.nan
basics = basics.replace({'\\N':np.nan})
akas = akas.replace({'\\N':np.nan})
rating = rating.replace({'\\N':np.nan})

1. Include only movies that were released in the United States. This was already done when we imported our data

In [90]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

0            True
1            True
2            True
3            True
4            True
            ...
10100790     True
10100791     True
10100792     True
10100793     True
10100794    False
Name: tconst, Length: 10100795, dtype: bool

In [91]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10100789,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2009,NaN,NaN,"Action,Drama,Family"
10100790,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,NaN,NaN,"Action,Drama,Family"
10100791,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
10100792,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
10100793,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short

2. Include only movies that were released 2000 - 2021 (include 2000 and 2021)

In [92]:
# coerce all to numeric to be able to filter out the years by numbers
basics['startYear']= pd.to_numeric(basics['startYear'], errors= 'coerce')

In [93]:
# keep anything greater than or equal to 2000
basics['startYear'] = basics['startYear'] >= 2000

In [94]:
# Keep anything less than or equal to 2021
basics['startYear'] = basics['startYear'] <= 2021

3. Include only full-length movies (titleType = "movie").

In [95]:
basics = basics.loc[basics['titleType']== "movie"]

4. Exclude any movie with missing values for genre or runtime

In [96]:
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])

5. Include only fictional movies (not from the Documentary genre)

In [97]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]

In [98]:
# save all new dfs
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [99]:
rating.to_csv("Data/title_rating.csv.gz",compression='gzip',index=False)

#### API with revenue

In [2]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [ ]:
# Load API Credentials
with open('/Users/kass/secret/mov_API.json') as f:   #use your path here!
    login = json.load(f)
# Instantiate YelpAPI Variable
M_api = YelpAPI(login['api-key'], timeout_s=5.0)